<nav class="nav">
  <div class="nav-logo">
    <img class="logo" src="assets/icon.png" />
  </div>
  <div class="nav-title">
    WebCar
  </div>
  <div class="nav-buttons">
    <div class="button button--small" routerLink="/veiculo">
      <label class="label">
        Veículos
      </label>
    </div>
    <div class="button button--small" routerLink="/usuario">
      <label class="label">
        Usuários
      </label>
    </div>
    <div class="button button--small" routerLink="/viagem">
      <label class="label">
        Viagens
      </label>
    </div>
  </div>
</nav>