<br>
<br>
<div class="container">
        <div class="ui-g-5">
            <div class="ui-g-12">
                <h2>Veículos</h2>
            </div>
    
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Placa</th>
                        <th scope="col">Apelido</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Cor</th>
                        <th scope="col">Status</th>
                        <th scope="col">Quilometragem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let veiculo of veiculos">
                        <td scope="row">{{veiculo.plate}}</td>
                        <td>{{veiculo.nick}}</td>
                        <td>{{veiculo.model}}</td>
                        <td>{{veiculo.year}}</td>
                        <td>{{veiculo.color}}</td>
                        <td>{{veiculo.status}}</td>
                        <td>{{veiculo.mileage}}</td>
                </tbody>
            </table>
        </div>
    </div>