
  <!-- Principal CSS do Bootstrap -->
  <link href="https://getbootstrap.com.br/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Estilos customizados para esse template -->
  <link href="https://getbootstrap.com.br/docs/4.1/examples/jumbotron/jumbotron.css" rel="stylesheet">

  <app-navbar></app-navbar>

  <main role="main">

  </main>

  <!-- <footer class="container">
    <p>FIAP 2020</p>
  </footer> -->

  <!-- Principal JavaScript do Bootstrap
  ================================================== -->
  <!-- Foi colocado no final para a página carregar mais rápido -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
  <script src="https://getbootstrap.com.br/docs/4.1/assets/js/vendor/popper.min.js"></script>
  <script src="https://getbootstrap.com.br/docs/4.1/dist/js/bootstrap.min.js"></script>


<!-- >>>>> ng new viagem-fiap-app
>>>> ng-serve
 >>>>ng g c usuario  -->
<router-outlet></router-outlet>



  
    